*,*::before,*::after{
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.nav-bar{
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;    
    top: 0;
    width: 100%;
    z-index: 1;
}

.links{
    overflow: hidden;
    background-color: #ffffff;
    position: relative;  
    width: 100%;
    z-index: 1;    
}

.nav-links{
    font-weight: 400;
    font-size: 1.25em;
    margin: 1em 0.5em;
}

.nav-links:hover{
    color: #ad00ff;
    text-decoration: none;
}

.logo{
    float: left;
    max-width: 12em;
    margin: 0.5em 0em 0.5em 0.5em;
}

.side-button{
    background: none;
    background-image: url(../svg/side_button.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    border: none;
    height: 2em;
    width: 2em;
}

.phone-menu{
    width: 100%;
    padding-left: 0px;
}

.phone-menu > li {
    display: inline-block;
    text-align: center;
    width: 100%;
    float: none;
}

li{
    list-style-type: none;
    display: inline;
    margin: 10px;
}

li > a{
    text-decoration: none;
    color: black;
}

.spacer{
    width: 100%;
    height: 5em;
}

.landing{
    background-image: url(../svg/home_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 75vw;
}

.devices:hover{
    opacity: 50%;
}

footer{
    background-color: #000000;
    height: 20vh;
}

.footer > div{
    text-align: center;
    display: block;
}

.media-icons:hover{
    opacity: 50%;
}

.refer{
    width: 100%;
    color: #808080;
}

@media only screen and (max-width: 678px) {
    .nav-toggle{
        display: inline;
    }

    .lg-menu{
        display: none;
    }

    .nav-bar{
        padding-left: 0px;
    }
}

@media only screen and (min-width: 679px) {
    .nav-toggle{
        display: none;
    }

    .lg-menu{
        display: block;
        margin-top: auto;
    }
}

/* ------------ Section ------------ */

.login-form{
    margin-top: 2.5em;
}

.input-field{
    width: 100%;
    border: none;
    padding: 2px 0px 1px 2px;
    border-bottom: #ad00ff 2px solid;
}

.input-field:hover{
    border-bottom: #0057ff 2px solid;
}

.input-field::placeholder{
    color: rgba( 0, 0, 0, 0.6);
}

.submit-button{
    width: 50%;
    border: none;
    padding: 2px 2px;
    background-image: linear-gradient(to bottom, #ad00ff, #0057ff);
    border-radius: 5px;
}

.submit-button:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.button-inlay{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    color: #000000;
}

.button-inlay:hover{
    background-color: rgba(173, 0, 255,0.5);
    color: #ffffff;
}

.register-link{
    color: #0057ff;
}

.register-link:hover{
    color: #ad00ff;
    text-decoration: none;
}

/* ------------ Section ------------ */

.contact-names{
    display: block; 
    width: max-content;
}

.contact-names:hover{
    color: #ad00ff;
    text-decoration: none;
}

/*  ------------ Section ------------  */